<!DOCTYPE html>
<!-- add or modify.  Change index to ident.  -->
<html>
  <head>
    <title>Profile</title>
    <meta charset="utf-8"/>
    <style type="text/css">
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
     width: 100%;
    height: auto;
  overflow: hidden;
  background-color: #ffffff;
}

.topnav a {
     width: 100%;
    height: auto;
  float: center;
  color: #f2f2f2;
  text-align: center;
   padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #000000;
  color: black;
  text-decoration:
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <body>




    <div class="topnav" style="text-align:center;font-size:17px;">

         <a class="active" href="">Profile</a>
      </div>
    <div id="profiledesc" style="text-align:center;font-size:17px;">
    	<h3 id = "username">Usernames's Profile</h3>
       <div id = "name">Name:</div>
       <div id = "datejoined">Date Joined:</div>
       <div id = "age">Date of Birth:</div>
       <br>
    </div>


    <!--<input type="text" placeholder="User search" id='usersearch'></input>-->


	<script src="js/session.js"></script>

  </body>
</html>
